.open-web-word {
    background-color: #eff2f2;

    &>div {
        &.menu {
            border-bottom: 1px solid #cccccc;
            height: 30px;

            &>.logo {
                background-image: url('./image/logo.png');
                padding-left: 30px;
                padding-right: 10px;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                vertical-align: top;
                background-size: auto 70%;
                background-repeat: no-repeat;
                background-position: 5px center;
                font-size: 12px;
                cursor: pointer;
                color: rgb(0, 0, 0);
                font-weight: 800;

                &:hover {
                    text-decoration: underline;
                }
            }

            &>label,
            &>span {
                height: 30px;
                line-height: 30px;
                display: inline-block;
                vertical-align: top;

                &>.none {
                    display: none;
                }

                &.line {
                    width: 1px;
                    background-color: #cccccc;
                }

                &.btn {
                    font-size: 0px;
                    width: 30px;
                    cursor: pointer;
                    background-position: center;
                    background-repeat: no-repeat;

                    &[active='yes'] {
                        background-color: #fefefe;
                        border-bottom: 1px solid #cccccc;
                    }

                    &.format {
                        background-image: url('./image/format.png');
                    }

                    &.weight {
                        background-image: url('./image/weight.png');
                    }

                    &.italic {
                        background-image: url('./image/italic.png');
                    }

                    &.underline {
                        background-image: url('./image/underline.png');
                    }

                    &.line-through {
                        background-image: url('./image/line-through.png');
                    }

                    &.left {
                        background-image: url('./image/left.png');
                    }

                    &.center {
                        background-image: url('./image/center.png');
                    }

                    &.right {
                        background-image: url('./image/right.png');
                    }

                    &.color {
                        &>i {
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            outline: 1px solid rgb(255, 255, 255);
                            margin: 8px;
                            background-color: #000;
                        }
                    }

                    &.img {
                        background-image: url('./image/img.png');
                    }

                    &.link {
                        background-image: url('./image/link.png');
                    }

                    &.input {
                        width: 60px;
                        font-size: 12px;

                        &>input {
                            height: 18px;
                            width: 44px;
                            margin: 6px;
                            outline: none;
                            border: none;
                        }
                    }
                }
            }
        }

        &.content {
            height: calc(100% - 30px);
            overflow: auto;

            &>div {
                width: calc(100% - 100px);
                min-height: calc(100% - 100px);
                margin: 50px auto;
                background-color: white;
                padding: 50px;
                outline: none;
                line-height: 1.2em;
            }
        }

        &.dialog {
            position: fixed;
            width: 100vw;
            height: 100vh;
            left: 0;
            top: 0;
            background-color: rgba(167, 165, 165, 0.774);

            &>div {
                width: 300px;
                left: calc(50vw - 150px);
                top: 100px;
                text-align: center;
                position: fixed;

                &.link {
                    background-color: white;
                    padding: 10px 0;

                    &>h2 {
                        line-height: 2em;
                        font-size: 20px;
                        margin-bottom: 10px;
                        user-select: none;
                    }

                    &>div {
                        margin-bottom: 20px;

                        &>span {
                            font-size: 14px;
                        }

                        &>input {
                            outline: none;
                        }

                        &>button {
                            margin: 0 10px;
                            outline: none;
                            border: none;
                            padding: 5px 20px;
                            background-color: rgb(15, 179, 201);
                            color: white;
                            border-radius: 5px;
                            cursor: pointer;

                            &:first-child {
                                background-color: #bdb6b6;
                            }
                        }
                    }

                }
            }
        }
    }

    // 同意的控制一些东西的显示和隐藏
    [show='no'] {
        display: none;
    }
}
